* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.text-justify {
    text-align: justify;
}

.form-style {
    background-color: #222222e0;
    border: 1px solid #3a3a3aee;
}